a { text-decoration: none; color:white; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.header-container{
background-color: #2b2d42;
height: 3rem;
color: white;
}
 img{
   
    width: 40%;
  }
.ani-container .ani a {
    color: black;
}

.ani-progress, .ani-episodes{
    display: inline-block;
    height: auto;
    overflow: hidden;
}
.dates {
    font-size: 18px;
    margin-bottom: .5rem;
}

.airing {
    background-color: #dc3545;
    width: 8rem;
    height: auto;
    display: block;
    color: white;
    margin-bottom: 1rem;
    overflow: hidden;
}
.finished {
    background-color: #6c757d;
    width: 8rem;
    height: auto;
    display: block;
    color: white;
    margin-bottom: 1rem;
    overflow: hidden;
    border: solid 2px #6c757d;
}
.finished-cards, .airing-cards {
    border: solid 1rem #6c757d;
}
.overall-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}