a { text-decoration: none; color:white; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.header-container{
background-color: #2b2d42;
height: 3rem;
color: white;
padding: 0;
margin: 0;
text-align: left;
padding-left: 15px;
padding-top: 10px;
}
.header-container h1 {
    padding-top: 5px; 
}
span {
    overflow: hidden;
    max-width: 60%;
    height: auto;
}
 img{
   max-height: 300px;
    /* max-width: 100%; */
    width: 100%;
  }
  h2{
      margin-left: 15px;
      font-size: 32px;
  }
.ani-container .ani a {
    color: black;
}
.card-img-text-container-finished{
    border: solid 2px grey;
    border-radius: 4px;
}
.card-img-text-container-still-airing{
    border: solid 2px #dc3545;
    border-radius: 4px;
}
.ani-progress, .ani-episodes{
    display: inline-block;
    height: auto;
    overflow: hidden;
}
.dates {
    font-size: 18px;
    margin-bottom: .5rem;
}

.airing {
    background-color: #dc3545;
    background: #dc3545;
    width: auto;
    min-height: 100px;
    height: auto;
    display: block;
    color: white;
    overflow: hidden;
    padding: 5px;
    padding-bottom: 0;
}
.finished {
    width: auto;
    min-height: 100px;
    height: auto;
    display: block;
    color: white;
    overflow: hidden;
    padding: 5px;
    padding-bottom: 0;
    background: #6c757d;
    background-color: #6c757d;
}

.finished-airing-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    margin-left: 15px;
}
.still-airing-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 15px;
}
.still-airing-items{
    min-width: 200px;
    min-width: 300px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.finished-airing-items{
    min-width: 200px;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.still-airing-items aside:hover{
    cursor: pointer;
    opacity: 80%;
}
.finished-airing-items aside:hover{
    cursor: pointer;
    opacity: 80%;
}
*{
    font-family: Verdana, sans-serif;  
}
@media all and (max-width: 1275px) {
    *{
        font-size: 24px;
    }
    h2{
        text-align: center;
        margin: 0;
        margin-top: 20px;
        font-size: 40px;
    }
    .finished-airing-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    }
    .finished-airing-items{
        min-width: 200px;
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .still-airing-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        }
        .still-airing-items{
            min-width: 200px;
            max-width: 300px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
  };
  
  @media all and (max-width: 624px) {

    .finished-airing-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
        }
        .finished-airing-items{
            min-width: 200px;
            max-width: 300px;
            width: 500px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .still-airing-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            width: 100%;
            }
            .still-airing-items{
                min-width: 300px;
                max-width: 400px;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
            }
  };