a { text-decoration: none; color:white; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.header-container{
background-color: #2b2d42;
height: 3rem;
color: white;
}
.register {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
}
.welcome {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
 .ani-container {
    display: grid;
    color: black;
    margin-top: 10rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 5rem;
    text-align: center;
  }
.ani-container .ani a {
    color: black;
}

.login-comp {
    float: right;
    margin-top: 10px;
}
.imgs img {
    width: 40%;
}